.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.movieTitle {
    width: max-content;
    font-weight: bold;
}

#moviePoster {
    width: 25rem;
    object-fit: cover;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movieContainer button {
    margin: 1rem;
    padding: 0.5rem;
}

.ratingCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-neutral-two);
    border-radius: 0.5rem;
}

.ratingCard a {
    cursor: pointer;
    text-decoration: none;
}