.movie-card {
    margin: 10px;
    padding: 10px;
    transition: 0.3s;
    width: 14rem;
    aspect-ratio: 2/3;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;
}

.movie-card img {
    width: 14rem;
    aspect-ratio: 2/3;
}

.movie-card-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor:default;
}

.movie-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card:hover img {
    opacity: 0.3;
}

.movie-card:hover .movie-card-text-container {
    opacity: 1;
    transition: 0.3s ease;
}