/* #profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
} */

#recommended-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.recommended-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-neutral-two);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

#friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    border: 1px solid black;
    border-radius: 5px;
}

.friend-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 4rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-neutral-two);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

.friend-card:hover {
    cursor: pointer;
    background-color: var(--color-accent);
    color: var(--color-text-two);
}

/* Movie Table */

.accordian {
    width: 40rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-neutral-two);
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
}

.accordian table th {
    background-color: var(--color-neutral-two);
    text-align: center;
}

.table-image {
    width: 5rem;
    object-fit: cover;
}

.reviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-secondary);
}

.reviewContainer img {
    width: 10rem;
    object-fit: cover;
}

td {
    text-align: center;
}