#review-form-submit-button {
    width: max-content;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: relative;
    left: 45%;
}

#reviewInput {
    min-height: 16rem;
    max-height: max-content;
}

.form-range {
    background-color: var(--color-primary);
}